/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
token

PLATFORM
TELEGRAM_OFFSET
builds/
reports/
tg-token
prod-token
domain
mailgun-token